.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/src/main/res/values/values_not_commit.xml
/app/src/main/res/xml/global_tracker.xml
/app/google-services.json
.idea/
**/*.iml
gradle.properties