<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tsuyogoro.sugorokuon.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="tsuyogoro.sugorokuon.SugorokuonApplication"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.SugorokuonTheme">

        <!--
        Referred :
        Setup
         https://developer.android.com/google/play-services/setup.html
        tools:replaceを置いてる理由 (RobolectricがAndroidManifestのparseを失敗する)
         https://github.com/robolectric/robolectric/issues/1399
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/gms_version"
            tools:replace="android:value" />

        <!--<activity-->
            <!--android:name="tsuyogoro.sugorokuon.SugorokuonTopActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:launchMode="singleTask"-->
            <!--android:windowSoftInputMode="stateAlwaysHidden">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<action android:name="tsuyogoro.sugorokuon.action_open_timetable" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <!---->
            <!--<intent-filter android:autoVerify="true">-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data-->
                    <!--android:host="sugorokuonapp.firebaseapp.com"-->
                    <!--android:scheme="http"-->
                    <!--android:pathPrefix="/top" />-->
            <!--</intent-filter>-->
            <!---->
            <!--<intent-filter android:autoVerify="true">-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data-->
                    <!--android:host="sugorokuonapp.firebaseapp.com"-->
                    <!--android:scheme="https"-->
                    <!--android:pathPrefix="/top" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="default-url"-->
                <!--android:value="https://sugorokuonapp.firebaseapp.com/top" />-->
        <!--</activity>-->

        <activity android:name="tsuyogoro.sugorokuon.onboarding.OnboardingActivity" />

        <!--Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <service android:name="tsuyogoro.sugorokuon.notification.SugorokuonMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Referred : https://qiita.com/sho5nn/items/f63ebd7ccc0c86d98e4b -->
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.AppCompat.Light" />


        <!-- Set custom default icon.
            This is used when no icon is set for incoming notification messages.
            See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_radio_accent_18dp" />

        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/app_accent" />

    </application>

</manifest>
