<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tsuyogoro.sugorokuon"
    android:versionCode="158"
    android:versionName="1.5.8" >

    <uses-sdk android:targetSdkVersion="14"
	          android:minSdkVersion="10" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />    
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true" >
        
        <activity
            android:name=".presenter.SugorokuonActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/MainActivityTheme" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".settings.SugorokuonSettingActivity"
            android:label="@string/app_name"
            android:theme="@style/SettingActivityTheme">            
        </activity>
        
        <!-- Gingerbreadで動作する時のみ利用されるSettingの画面 -->
        <activity
            android:name=".settings.compat.AreaSettingPreferenceActivity"
            android:label="@string/app_name"
            android:theme="@style/SettingActivityTheme">
        </activity>
        <activity
            android:name=".settings.compat.RecommendWordSettingActivity"
            android:label="@string/app_name"
            android:theme="@style/SettingActivityTheme">
        </activity>
        <activity
            android:name="tsuyogoro.sugorokuon.settings.compat.ReminderSettingActivity"
            android:label="@string/app_name"
            android:theme="@style/SettingActivityTheme">
        </activity>
        <activity
            android:name="tsuyogoro.sugorokuon.settings.compat.OnAirSearchSettingActivity"
            android:label="@string/app_name"
            android:theme="@style/SettingActivityTheme">
        </activity>
        <activity
            android:name="tsuyogoro.sugorokuon.settings.compat.BrowserCacheSettingActivity"
            android:label="@string/app_name"
            android:theme="@style/SettingActivityTheme">
        </activity>
        <activity
            android:name="tsuyogoro.sugorokuon.settings.compat.KeepStationFocusPreferenceActivity"
            android:label="@string/app_name"
            android:theme="@style/SettingActivityTheme">
        </activity>                  
        
        <activity
            android:name="tsuyogoro.sugorokuon.appinfo.AboutAppActivity"
            android:label="@string/app_name"
            android:theme="@style/SettingActivityTheme">
        </activity>         
        
        <service android:name="tsuyogoro.sugorokuon.service.SugorokuonService"
	             android:exported="false" >
    	    <intent-filter>
 	     	   <action android:name="tsuyogoro.sugorokuon.service.action_load_program_data" />
 	     	   <action android:name="tsuyogoro.sugorokuon.service.action_notify_onair_soon" />
 	     	   <action android:name="tsuyogoro.sugorokuon.service.action_launch_radioapp" />
  	     	   <action android:name="tsuyogoro.sugorokuon.service.action_search_song_on_web" />	     	   
 	     	   <action android:name="tsuyogoro.sugorokuon.service.action_timer_update" />
   	        </intent-filter>
        </service>
        
		<receiver android:name="tsuyogoro.sugorokuon.service.BootCompleteReceiver" 
	  	 	      android:exported="true" >
    		<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED" />
		        <category android:name="android.intent.category.DEFAULT" />
    		</intent-filter>
		</receiver>        

		
		<!-- ************************  appC基本設定  ここから  *********************** -->
		<!-- appc_media_key:発行されたメディアキー -->
		<meta-data android:name="appc_media_key" android:value="a5b66ae7ad83bfb5eb2915b6f48c771626c486ff" />
		
		<!-- 利用規約画面: 旧バージョンとのコンパチブル用-->
        <activity android:name="jp.co.cayto.appc.sdk.android.AgreementStarter"
                  android:label="@string/app_name"
                  android:theme="@style/SettingActivityTheme"
                  android:noHistory="true" />
		<activity android:name="jp.co.cayto.appc.sdk.android.WebViewActivity"
                  android:theme="@style/SettingActivityTheme"
                  android:label="appc" />

       	<receiver android:name="jp.co.cayto.appc.sdk.android.background.BgAppReceiver">
           	<intent-filter>
               	<action android:name="jp.co.cayto.appc.sdk.android.remote.command.gid.search" />
               	<action android:name="jp.co.cayto.appc.sdk.android.remote.command.gid.set" />
               	<action android:name="jp.co.cayto.appc.sdk.android.remote.command.gid.remove" />
           	</intent-filter>
        </receiver>
        
        <service android:name="jp.co.cayto.appc.sdk.android.background.IDService"
                 android:process=":outerProcessX" />
        <receiver android:name="jp.co.cayto.appc.sdk.android.background.BootStrap"
	              android:enabled="true"
                  android:exported="false"
                  android:label="BootStrap" >
			<intent-filter>
                  <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
	        <intent-filter>
	            <action android:name="android.intent.action.PACKAGE_ADDED" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package" />
            </intent-filter>
		</receiver>
		<!-- ************************* appC 基本設定 ここまで ************************* -->
		
   </application>
    

</manifest>